{
	"env": {
		"node": true
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:nuxt/recommended",
		"eslint:recommended",
		"plugin:vue/vue3-recommended",
		"plugin:prettier/recommended",
		"prettier",
		"plugin:tailwindcss/recommended"
	],
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"plugins": ["@typescript-eslint"],
	"root": true,
	"rules": {
		"no-undef": "off",
		"quotes": ["error", "single"],
		"vue/component-name-in-template-casing": ["error", "PascalCase"],
		"vue/multi-word-component-names": "off",
		"vue/no-reserved-component-names": "off",
		"vue/script-setup-no-uses-vars": "off"
	}
}
